
.logo{
    height: 3rem;
    width: 10rem;   
}
.cleartrip-logo{
    height: 2.5rem;
    width: 8rem; 
}
.leftSection {
    text-decoration: none; 
    width: 13rem;
    line-height: 1.7;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border:  none;
    background-color: inherit;  
    color: black;
    padding: 7px 15px;
    border-radius: 7px;
    position: relative;
} 

.leftSection:hover{
    color: #3366CC;
    background-color: #EFF5FC;
}
.active-left-btn {
    background-color: #D6E8FC;
    color: #3366CC;
}
.active-left-btn:hover {
    background-color: #D6E8FC;
    color: #3366CC;
}


@media screen and (min-width: 300px) {
    .leftSection{
        line-height: 0.7;
        width: 8rem;
        padding: 5px 10px;
    }
    .my-trip{
        display: none;
    } 
}
@media screen and (min-width: 600px) {
    .leftSection{
        width: 10rem;
    }
}
@media screen and (min-width: 900px) {
    .leftSection{
        line-height: 1.7;
        width: 13rem;
        padding: 7px 15px;
    }
}